.sui-layout-main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sui-layout-main-header__inner {
    font-size: 12px;
    color: #4a4b4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sui-result {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    list-style: none;
    padding: 24px 0;
    text-decoration: none;
    display: block;
    border: 1px solid #f0f0f0;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    overflow: hidden;
}

.sui-result + .sui-result {
    margin-top: 32px;
}

.sui-result em {
    position: relative;
    color: #3a56e4;
    font-weight: 700;
    font-style: inherit;
}

.sui-result em:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: rgba(37, 139, 248, 0.08);
    pointer-events: none;
}

.sui-result__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.sui-result__title {
    font-size: 1.8em;
    font-weight: 400;
    color: #3a56e4;
    text-decoration: none;
}

.sui-result__body {
    line-height: 1.5;
    margin-top: 0;
    display: flex;
}

.sui-results-container {
    padding: 0;
    list-style: none;
}