.sui-search-box__wrapper {
    display: flex;
    flex: auto;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    padding: 1.5rem 1rem;
}

.sui-search-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: stretch;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sui-search-box__text-input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 16px;
    outline: none;
    position: relative;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
}
.sui-search-box__text-input:focus {
    box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
    border-top: 1px solid #3a56e4;
    border-left: 1px solid #3a56e4;
    border-right: 1px solid #3a56e4;
    border-bottom: 1px solid #3a56e4;
}
.autocomplete .sui-search-box__text-input {
    box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
}

.sui-search-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: stretch;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sui-search-box__submit {
    flex-shrink: 0;
    font-family: inherit;
    font-size: 14px;
    padding: 16px;
    margin-left: 10px;
    text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset,
    rgba(59, 69, 79, 0.05) 0px 1px 0px;
    background: linear-gradient(#2da0fa, #3158ee) #2f7cf4;
    cursor: pointer;
    border-radius: 4px;
}
.sui-search-box__submit:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
    rgba(59, 69, 79, 0.3) 0px 2px 4px;
    background: linear-gradient(#3cabff, #4063f0) #3d84f7;
}
.live-filtering .sui-search-box__submit {
    display: none;
}